# Model Building Requirements
pandas
stockstats
scikit-learn
# gym
tf-agents
# pyfolio install the last version from github
finrl
pytse-client
stockstats
# pip install torch==1.8.0+cpu torchvision==0.9.0+cpu torchaudio==0.8.0 -f https://download.pytorch.org/whl/torch_stable.html

pathlib

# plot
matplotlib
halo

# testing requirements
pytest

setuptools



