# Model Building Requirements
pandas
stockstats
scikit-learn
gym
finrl
# tensorflow==1.15.4
# pip install torch==1.8.0+cpu torchvision==0.9.0+cpu torchaudio==0.8.0 -f https://download.pytorch.org/whl/torch_stable.html

joblib
pathlib

# plot
matplotlib

# testing requirements
pytest

# packaging
setuptools



